DISCORD_TOKEN=
PLAYERS_CHANNEL_ID=
LOGS_CHANNEL_ID=
CONTROL_CHANNEL_ID=
RCON_HOST=127.0.0.1
RCON_PORT=19999
RCON_PASSWORD=
BASE_LOG_DIR=C:\\ArmaReforger\\logs
SERVER_PORT=
SERVER_BAT=C:\\ArmaReforger\\Start-Server.bat
PROCESS_NAME=ArmaReforgerServer.exe
POSITIONS_FILE=log_positions.json
CHECK_INTERVAL=10